In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import pickle

In [6]:
data = pd.read_csv("loan_approval_dataset.csv")

In [8]:
data.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,0,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0
1,2,0,0,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,0
2,3,3,0,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0
3,4,3,0,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0
4,5,5,0,0,9800000,24200000,20,382,12400000,8200000,29400000,5000000,0

In [10]:
data['education'] = data['education'].str.strip()
data['self_employed'] = data['self_employed'].str.strip()
data['loan_status'] = data['loan_status'].str.strip()

AttributeError: Can only use .str accessor with string values!

In [ ]:
value = data.isnull().values.any()
value

In [ ]:
data['education'] = data['education'].apply(lambda x: 1 if x == 'Graduate' else 0)
data['self_employed'] = data['self_employed'].apply(lambda x: 1 if x == 'Yes' else 0)
data['loan_status'] = data['loan_status'].apply(lambda x: 1 if x == 'Approved' else 0)

In [ ]:
print(f' Number of duplicate values : {data.duplicated().sum()}')

In [13]:
X = data.drop(['loan_status', 'loan_id'], axis = 1)
y = data['loan_status']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =.33, random_state = 42)

In [20]:
X.head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
0,2,0,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000
1,0,0,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000
2,3,0,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000
3,3,0,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000
4,5,0,0,9800000,24200000,20,382,12400000,8200000,29400000,5000000

In [21]:
y.head()

0       0
1       0
2       0
3       0
4       0
       ..
4264    0
4265    0
4266    0
4267    0
4268    0
Name: loan_status, Length: 4269, dtype: int64

In [18]:
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)
y_pred = log_reg.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("Classification Report:\n", classification_rep)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0

In [13]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
y_pred = decision_tree.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("Classification Report:\n", classification_rep)

Accuracy: 0.9808374733853797
Classification Report:
               precision    recall  f1-score   support

           0       0.98      0.97      0.97       522
           1       0.98      0.99      0.98       887

    accuracy                           0.98      1409
   macro avg       0.98      0.98      0.98      1409
weighted avg       0.98      0.98      0.98      1409

In [14]:
pickle.dump(log_reg, open('models/log_reg.pkl', 'wb'))
pickle.dump(decision_tree, open('models/decision_tree.pkl', 'wb'))